<input type="checkbox" id="check">
 
<header>
  <div class="int-header">

          <label for="check">
              <div id="hamburger" onclick="sidebar();">☰</div>
          </label>

        <div class="aveo"><h3 >AV<span>EO</span></h3>
        
        </div>
        
        
      
     

       <input id="searchbar" onkeyup="myFunction()" type="text"
    name="search" placeholder="Search">
        <i class="fa fa-search" aria-hidden="true" style="margin-top: 38px; margin-left: 26%; position: absolute;
    color: rgb(121, 120, 120);"></i> 
    <div class="signIn">

     <a href="#" class="icon"> <i class="fas fa-user-circle fa-2x"></i></a>
    </div>
    <div class="notification">

     <a href="#" class="icon"> <i class="fas fa-bell fa-2x" ></i></a>
    </div>
    <div class="videodCreate">

      <a class="icon"  routerLink="/upload"><i class="fas fa-video-camera fa-2x"></i></a>
    </div>      

  </div>
</header>
<div class="sideBar">
    <a class="mybtn" routerLink="/home"><i class="fas fa-home"></i><p>Home</p></a>
    <a class="mybtn active"><i class="fas fa-fire"></i><p>Trending</p></a>
    <a class="mybtn" routerLink="/login"><i class="fas fa-plus-circle"></i><p>Subscriptions</p></a>
    <hr>
    <a class="mybtn" routerLink="/login"><i class="fas fa-folder"></i><p>Library</p></a>
    <a class="mybtn" routerLink="/login"><i class="fas fa-history"></i><p>History</p></a>
    <hr>
    <div class="not">
  
  
    <hr>
    <h4 style="padding:0px 0px 0px 1.5em; color: #8d8585;">BEST FROM US</h4>
    <a class="mybtn"><i class="fas fa-music"></i>Music</a>
    <a class="mybtn"><i class="fas fa-futbol-o"></i>Sports</a>
    <a class="mybtn"><i class="fas fa-gamepad"></i>Gaming</a>
    <a class="mybtn"><i class="fas fa-film"></i>Movies</a>
    <a class="mybtn"><i class="fas fa-newspaper-o"></i>News</a>
    <a class="mybtn"><i class="fas fa-play"></i>Live</a>
    <a class="mybtn"><i class="fas fa-cart-plus"></i>Fashion</a>
    <a class="mybtn"><i class="fas fa-institution"></i>learning</a>
    <hr>
    <a class="mybtn" routerLink = "/login"><i class="fas fa-cogs"></i>Settings</a>
    <a class="mybtn" routerLink = "/login"><i class="fas fa-flag"></i>Report History</a>
    <a class="mybtn" routerLink = "/login"><i class="fas fa-question-circle"></i>Help</a>
    <a class="mybtn" routerLink = "/login"><i class="fas fa-comments"></i>feedback</a>
    <hr>
    <P class="mybtn">AVEO </P>
    </div>
</div>




<div class="menu">
    <ul>
        <li><a href="#">     
               <div class="layer">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span ><i class="fas fa-music"></i></span>
          </div>
          
          <div class="text">MUSIC</div>
  </a></li>
        
        <li><a href="#"> 
           <div class="layer">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span ><i class="fas fa-gamepad"></i></span>
        </div>
           <div class="text">GAME</div>
          </a></li>
        
        <li><a href="#">
          <div class="layer">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span ><i class="fas fa-newspaper-o"></i></span>
          </div>
          <div class="text">NEWS</div>
  </a></li>
        
        <li><a href="#">
          <div class="layer">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span ><i class="fas fa-film"></i></span>
          </div>
          <div class="text">MOVIE</div>
  </a></li>
        <li><a href="#">
          <div class="layer">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span ><i class="fas fa-institution"></i></span>
          </div>
          <div class="text">LEARN</div>

  </a></li>
 
    </ul>


    
</div>
<div class="uplo" style="overflow-x:auto;">
    <table>
        <tr><td>
<iframe width="250" height="155" src="https://www.youtube.com/embed/b-lZ_4kwBj0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe></td>

<td>   <h3> Headspace | Be Kind to Your Mind | Nexus Studios</h3><br>

    Nexus Studios<br>
    •
    228 views<br>
    1 month ago<br>
    Headspace wanted to help Americans get back on their feet by offering free subscriptions to anyone who has lost their job as a ...
</td>
        </tr>

    <img class="g" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png" alt="" height="25px" width="25px" />
    
<span class="t1"> .#BekindToYourMind,</span><span class="t11">  with a little help from Google</span><br><span class="i">Ad.</span>
<span class="gc"> Google,India</span><img class="opt" onclick="alert('save to watch later')" src="https://lh3.googleusercontent.com/-QZKrdytzgOI/Xtt4J7bOQDI/AAAAAAAAOyA/rtDSvixODp8X--NToZkVXUc3TRBIYXCsgCLcBGAsYHQ/s1600/1591441444040892-0.png" alt="" height="40px" width="20px" /><br><br>
   <tr><td>
<iframe width="250" height="155" src="https://www.youtube.com/embed/MBZGbpsldmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>

<img class="c2" src="https://yt3.ggpht.com/a/AATXAJwnshsu2RHmkbr7ptc-OER3AF13bX7av0e6zQ=s100-c-k-c0xffffffff-no-rj-mo" alt="" width="30px" height="30px" />
<span class="t2">The Rock vs John Cena</span><br>
<span class="t22">WWE</span>
</td><td>
   <h3> The Rock and John Cena agree to meet at WrestleMania 28: WWE Raw</h3>

    WWE<br>
    85M views<br>
    6 years ago<br>
    The Rock and John Cena make an unprecedented announcement that will face each other at WrestleMania 28. WWE Network 
</td></tr>
<tr><td>
    <iframe width="250" height="155" src="https://www.youtu.be/embed/BvBd0vhOkZI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe></td>
    
    <td>   <h3> Official Trailer | Chaman Bahaar | Jitendra Kumar | Ritika Badiani | Apurva Dhar Badgaiyann| Netflix</h3>

        Yoodlee Films<br>
        •
        2.3M views<br>
        1 day ago<br>
        Now Streaming on Netflix ! Presenting the official trailer of Chaman Bahaar, directed by Apurva Dhar Badgaiyann. The film stars Jitendra Kumar and Ritika Badiani in lead roles. An ambitious...</td>
            </tr>
    


</table>
    </div>

