
.sideBar {
  border-right: 1.5px solid rgb(204, 203, 203);
  z-index: 0;
  position: fixed;
  margin-top: 4.2%;
  left: 0;
  width: 250px;
  height: 100vh;
  transition: 0.5s;
  transition-property: left;
  scrollbar-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: .6em;
  transition: all .4s linear;
  background-color: white;
}



.sideBar a{
  font-family: 'YT Sans', 'Roboto', 'Arial', sans-serif;  
  color:rgb(75, 75, 75);
  font-weight: lighter;
  font-size: 14px; 
  display: block;
  width: 100%;
  line-height: 47px;
  text-decoration: none;
  padding-left: 1.5em;
  box-sizing: border-box;
  
}
.mybtn p{
  display: inline;
}

.sideBar a:hover {
  color: black;
  font-weight: bold;
}

.active, .mybtn:hover{
  background: #f4f4f4;
  border-left: 3px solid red ;
  transition: .3s;
}

.mybtn:hover > i {
  color: red;
}

.active i {
  color: red;
}

.sideBar i{
  font-size: 1.2rem;
  margin-right: 15px;

}
.signIn {
  padding: 0px 1.5em;
}

.signIn p{
  font-size: .9em;
  word-spacing: .2em;
  word-wrap: break-word;
  margin-right: 1.5em;
}

.signIn button{
  width: 60%;
  height: 3em;
  background-color: white;
  padding: 0px .3em;
  box-sizing: border-box;
  border: 1px rgb(37, 100, 216) solid;
  /* border-radius: 10px; */
}

.signIn button:hover{
  background-color: #f4f4f4;
  transition: all .4s;
}
.signIn button i{
  color: rgb(37, 100, 216);
  margin: 0px .5em 0px 0px ;
}
.signIn button span{
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  color: rgb(37, 100, 216);
}



/* for closed .sideBar */
.closedSideBar{
  width: 100px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  left: 0px;
  border-right: 1.5px solid rgb(204, 203, 203);
  transition: all .3s linear;
  box-sizing: border-box;
}

.block{
  width: 100%;
  height: 6rem;
  text-align: center;
  padding: 0px .5em 2em .5em ;
  transition: all .3s linear;
  /* border-bottom: 1.5px solid rgb(204, 203, 203); */
  box-sizing: border-box;
  /* margin: 0px 0px -.5em 0px; */
  /* bottom: 3em; */
}
.block p{
  display: block;
  font-size: .8em;
  font-weight: 200;
  margin: -1.5em 0px -1.5em -1em;
  
}
.hide{
display:none;
}

/* for feedback modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  box-sizing: border-box;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* modal header and it's content */
.modal-header {
  padding: 2px 16px;
  background-color: rgb(84, 110, 122);
  color: white;
  height: 50px;
}
.modal-header p{
  font-size: 1.2em;
  line-height: 50%;
}

/* modal body and it's content */
.modal-body {padding: 2px 16px;}

.modal-body textarea{
border: none;
box-shadow: none;
box-sizing: border-box;
color: rgb(33, 33, 33);
flex-grow: 1;
font: 400 16px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
height: auto;
min-height: 350px;
max-width: 100%;
outline: none;
padding: 18px 16px 0px;
resize: none;
width: 100%;
}
.modal-body p{
  font-size: small;
  color: rgb(75, 75, 75);
}
.modal-body a{
  display: inline;
  font-size: small;
  margin: 0px;
  padding: 0px;
  color: blue;
  word-spacing: 2px;
  line-height: 2px;
}
.modal-body a:hover{
  color:blue;
}

/* modal footer and it's content */
.modal-footer {
  width: 100%;
  height: 50px;
  padding: 2px 16px;
  color: white;
  border-top: 1px solid rgb(190,190,190);
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-footer button{
  background-color: white;
  border:none;
  font-size: 1.1em;
  color: rgb(90,90,90);
  outline: none;
}
.modal-footer button:active{
  background: none;
  border: none;
  outline: none;
  color: rgb(130,130,130);
  font-weight: 600;
}


/* for feedback send indication */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  display:none;
  height: 3em;
  overflow: hidden;
}
.visibility{
  display: block;
}
.alert.warning {background-color: #ff9800;}
.alert.success {background-color: #4CAF50;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.height{
  overflow: hidden;
  height: 0px;
  box-sizing: border-box;
  padding: 0px;
}

.closebtn:hover {
  color: black;
}
