<app-header></app-header>
<app-open-side-bar></app-open-side-bar>
<!DOCTYPE html>
<html lang="en">

<head>
    <title>AVEO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>


   
  
    <main>
        <h3>Recommended</h3>
        <div class="container">
        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>


        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article> 
        
        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>


        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>  
        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>


        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article> 
        
        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>


        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>

        <article>
            <img src="assets/thumb.jpg" alt="thumbnail" class="thumb">
            <div class="details">
                <h4>Title</h4>
                <p>Channel Name</p>
            </div>
        </article>    



        </div>
    </main>

   
</body>

</html>