<router-outlet></router-outlet>

<input type="checkbox" id="check">
 
<header>
  <div class="int-header">

          <label for="check">
              <div id="hamburger">☰</div>
          </label>

        <div class="aveo"><h3>AV<span>EO</span></h3>
        
        </div>


       <input id="searchbar" onkeyup="myFunction()" type="text"
    name="search" placeholder="Search across your channel">
        <i class="fa fa-search" aria-hidden="true" style="margin-top: -3.2%; margin-left: 26%; position: absolute;
    color: rgb(121, 120, 120);"></i> 
  
        

  </div>
</header>


<div class="sidebar" id="sidebar">

 
   <h4 style="color: rgb(95, 87, 87); padding-left: 40px; font-family: sans-serif;"><i class="fa fa-cog" style="font-size:24px;color:red"></i>SETTINGS</h4>
<a Account class="btn active" routerLink="/"><i class='fas fa-user' style='font-size:24px'></i>Account</a>
<a class="btn" routerLink="/notifications"><i class='fas fa-comment-alt' style='font-size:24px'></i>Notifications</a>
<a class="btn" routerLink="/playback" ><i class='fas fa-video' style='font-size:24px'></i>Playback and Performance</a>
<a class="btn" routerLink="/privacy"><i class='fas fa-user-lock' style='font-size:24px'></i>Privacy</a>

<a class="btn" routerLink="/watchontv"><i class="fa fa-television" style="font-size:24px"></i>Watch on TV</a>
<a class="btn" routerLink="/billing"><i class='fab fa-cc-amazon-pay' style='font-size:24px'></i>Billing and Payments</a>
<a class="btn" routerLink="/advanced"><i class='far fa-sun' style='font-size:24px'></i>Advanced Settings</a>


</div>




<div class="content" id="content">

    
  <div class="header">
    <div class="main" style="margin-top: 20px; font-size: large; color: #131313;">
    Billings and Payments
    
  </div>
<div class="title">
  Choose how you make purchases on AVEO
  </div>

  
<hr class="yt-horizontal-rule ">
   
<div class="textcontainer">
  Quick purchase is disabled.
  <h4 style="color: darkseagreen; font-size: 13px;">You will be asked to verify your account for all AVEO purchases</h4>

<a href="https://support.google.com/youtube/answer/7577041?visit_id=637283502365947471-2132339255&p=password_authentication&hl=en&rd=1">Learn more about purchase verification
</a>
<button class="onclick()">Enable Quick Purchase</button>
  
</div>

</div>
</div>
