
<router-outlet></router-outlet>

<input type="checkbox" id="check">
 
<header>
  <div class="int-header">

          <label for="check">
              <div id="hamburger">☰</div>
          </label>

        <div class="aveo"><h3>AV<span>EO</span></h3>
        
        </div>


       <input id="searchbar" onkeyup="myFunction()" type="text"
    name="search" placeholder="Search across your channel">
        <i class="fa fa-search" aria-hidden="true" style="margin-top: -3.2%; margin-left: 26%; position: absolute;
    color: rgb(121, 120, 120);"></i> 
  
        

  </div>
</header>


<div class="sidebar" id="sidebar">

 
   <h4 style="color: rgb(95, 87, 87); padding-left: 40px; font-family: sans-serif;"><i class="fa fa-cog" style="font-size:24px;color:red"></i>SETTINGS</h4>
<a Account class="btn active" routerLink="/Account"><i class='fas fa-user' style='font-size:24px'></i>Account</a>
<a class="btn" routerLink="/notifications"><i class='fas fa-comment-alt' style='font-size:24px'></i>Notifications</a>
<a class="btn" routerLink="/playback" ><i class='fas fa-video' style='font-size:24px'></i>Playback and Performance</a>
<a class="btn" routerLink="/privacy"><i class='fas fa-user-lock' style='font-size:24px'></i>Privacy</a>

<a class="btn" routerLink="/watchontv"><i class="fa fa-television" style="font-size:24px"></i>Watch on TV</a>
<a class="btn" routerLink="/billing"><i class='fab fa-cc-amazon-pay' style='font-size:24px'></i>Billing and Payments</a>
<a class="btn" routerLink="/advanced"><i class='far fa-sun' style='font-size:24px'></i>Advanced Settings</a>
<a class="btn" routerLink="/home"><i class="fas fa-home" style="font-size: 24px;"></i>Home</a>


</div>




<div class="content" id="content">


  <div class="header">
         
    <div class="main" style="margin-top: 20px; font-size: large; color: #131313;">
    Privacy
    <img src="assets/privacy.png">
   </div>
  
  
<div class="title">
  Manage what you share on AVEO
  </div>

  
  <div class="subtitle">
    Choose who can see your saved playlists and subscriptions<br>
    Review <a class="ch" href="https://policies.google.com/privacy?hl=en">Google privacy policy</a> 
  </div>

<hr class="yt-horizontal-rule ">
<ytd-item-section-renderer class="style-scope ytd-section-list-renderer"><!--css-build:shady-->
    
    
    <div id="header" class="style-scope ytd-item-section-renderer"></div>
    <div id="spinner-container" class="style-scope ytd-item-section-renderer">
      <paper-spinner-lite class="style-scope ytd-item-section-renderer" aria-hidden="true"><!--css-build:shady--><div id="spinnerContainer" class="  style-scope paper-spinner-lite"><div class="spinner-layer style-scope paper-spinner-lite"><div class="circle-clipper left style-scope paper-spinner-lite"><div class="circle style-scope paper-spinner-lite"></div></div><div class="circle-clipper right style-scope paper-spinner-lite"><div class="circle style-scope paper-spinner-lite"></div></div></div></div></paper-spinner-lite>
    </div>
    <div id="contents" class="style-scope ytd-item-section-renderer"><ytd-settings-options-renderer class="style-scope ytd-item-section-renderer"><!--css-build:shady-->
    
    <div id="section" class="style-scope ytd-settings-options-renderer">
      <div id="title" class="style-scope ytd-settings-options-renderer">Playlists and subscriptions</div>
      <div id="content" class="style-scope ytd-settings-options-renderer">
        <div id="options" class="style-scope ytd-settings-options-renderer"><ytd-settings-switch-renderer class="style-scope ytd-settings-options-renderer"><!--css-build:shady-->
    
    <paper-toggle-button id="toggle" noink="" class="style-scope ytd-settings-switch-renderer" role="button" aria-pressed="true" tabindex="0" toggles="" aria-disabled="false" aria-label="Keep all my saved playlists private" checked="" active="" style="touch-action: pan-y;"><!--css-build:shady--><div class="toggle-container style-scope paper-toggle-button"><div id="toggleBar" class="toggle-bar style-scope paper-toggle-button"></div><div id="toggleButton" class="toggle-button style-scope paper-toggle-button"></div></div><div class="toggle-label style-scope paper-toggle-button">
      <div id="toggle-container" class="style-scope ytd-settings-switch-renderer"></div>
    </div></paper-toggle-button>
    <div class="style-scope ytd-settings-switch-renderer">
      <yt-formatted-string id="title" class="style-scope ytd-settings-switch-renderer">Keep all my saved playlists private</yt-formatted-string>
      <div id="icon" class="style-scope ytd-settings-switch-renderer" hidden="">
        <yt-img-shadow height="24" width="24" class="style-scope ytd-settings-switch-renderer no-transition"><!--css-build:shady--><img id="img" class="style-scope yt-img-shadow" alt="" height="24" width="24"></yt-img-shadow>
        <yt-formatted-string id="text" class="style-scope ytd-settings-switch-renderer"><!--css-build:shady--></yt-formatted-string>
      </div>
      <yt-formatted-string id="subtitle" class="style-scope ytd-settings-switch-renderer"><span dir="auto" class="style-scope yt-formatted-string">Playlists created by others won’t appear on your channel. Playlists created by you have separate, individual privacy settings.
</span><a class="yt-simple-endpoint style-scope yt-formatted-string" spellcheck="false" href="https://support.google.com/youtube/answer/3127309?hl=en" rel="nofollow" dir="auto">Learn more</a></yt-formatted-string>
    </div>
  </ytd-settings-switch-renderer><ytd-settings-switch-renderer class="style-scope ytd-settings-options-renderer"><!--css-build:shady-->
    
    <paper-toggle-button id="toggle" noink="" class="style-scope ytd-settings-switch-renderer" role="button" aria-pressed="true" tabindex="0" toggles="" aria-disabled="false" aria-label="Keep all my subscriptions private" checked="" active="" style="touch-action: pan-y;"><!--css-build:shady--><div class="toggle-container style-scope paper-toggle-button"><div id="toggleBar" class="toggle-bar style-scope paper-toggle-button"></div><div id="toggleButton" class="toggle-button style-scope paper-toggle-button"></div></div><div class="toggle-label style-scope paper-toggle-button">
      <div id="toggle-container" class="style-scope ytd-settings-switch-renderer"></div>
    </div></paper-toggle-button>
    <div class="style-scope ytd-settings-switch-renderer">
      <yt-formatted-string id="title" class="style-scope ytd-settings-switch-renderer">Keep all my subscriptions private</yt-formatted-string>
      <div id="icon" class="style-scope ytd-settings-switch-renderer" hidden="">
        <yt-img-shadow height="24" width="24" class="style-scope ytd-settings-switch-renderer no-transition"><!--css-build:shady--><img id="img" class="style-scope yt-img-shadow" alt="" height="24" width="24"></yt-img-shadow>
        <yt-formatted-string id="text" class="style-scope ytd-settings-switch-renderer"><!--css-build:shady--></yt-formatted-string>
      </div>
      <yt-formatted-string id="subtitle" class="style-scope ytd-settings-switch-renderer"><span dir="auto" class="style-scope yt-formatted-string">Your subscriptions will not be visible to others. Manage your subscriptions </span><a class="yt-simple-endpoint style-scope yt-formatted-string" spellcheck="false" href="/feed/channels" dir="auto">here</a><span dir="auto" class="style-scope yt-formatted-string">.</span></yt-formatted-string>
    </div>
  </ytd-settings-switch-renderer></div>
        <yt-formatted-string id="text" force-default-style="" split-lines="" class="style-scope ytd-settings-options-renderer" hidden=""><!--css-build:shady--></yt-formatted-string>
      </div>
    </div>
  </ytd-settings-options-renderer><ytd-settings-options-renderer class="style-scope ytd-item-section-renderer"><!--css-build:shady-->
    
    <div id="section" class="style-scope ytd-settings-options-renderer">
      <div id="title" class="style-scope ytd-settings-options-renderer">Ads based on my interest</div>
      <div id="content" class="style-scope ytd-settings-options-renderer">
        <div id="options" class="style-scope ytd-settings-options-renderer"></div>
        <yt-formatted-string id="text" force-default-style="" split-lines="" class="style-scope ytd-settings-options-renderer"><span dir="auto" class="style-scope yt-formatted-string">We try to serve you relevant ads based on your online browsing behavior and AVEO watch history. You can manage your ads settings from your </span><a class="yt-simple-endpoint style-scope yt-formatted-string" spellcheck="false" href="https://www.google.com/settings/ads/onweb?hl=en" rel="nofollow" dir="auto">AVEO Ads Settings</a><span dir="auto" class="style-scope yt-formatted-string">. From there, you can do the following:
 • View or manage your demographics and interest categories
 • Block certain advertisers
 • Opt out of interest-based ads

Please note that AVEO is a  company.</span></yt-formatted-string>
      </div>
    </div>
  </ytd-settings-options-renderer></div>
    <div id="continuations" class="style-scope ytd-item-section-renderer"></div>
  </ytd-item-section-renderer>


</div>
