
#main{
    width: 60%;
    height: 100%;
    margin: 20px auto;
    vertical-align: middle;
    padding-top: 1.5em;
    border: 2px black solid;
    box-sizing: border-box;
    padding-bottom: 5em;
    border-radius: 1em;
    
    
}
#mycontainer1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#mycontainer1 i{
    font-size: 10rem;
    color: black;
    
}
#mycontainer1 h2 span{
    color: red;
}

#mycontainer1 h2 {
    font-weight: 900;
}