body{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.black {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    width: 896px;
    margin-left: -240px;
    margin-top: -80px;
}

form {
    margin-top: 80px;
    text-align: center;
}

#main{
    width: 60%;
    height: 90%;
    margin:  auto;
    vertical-align: middle;
    padding-top: 5em;
    box-sizing: border-box;
    padding-bottom: 5em;
    border-radius: 1em;
    box-shadow: 10px 10px 120px 10px rgba(240, 237, 237, 0.904); 
    margin-top: 50px;
    }

#mycontainer1{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 350px;
    margin-top: 10px; 
    padding-left: 90px;
}

#mycontainer1 i{
    font-size: 10rem;
    color: black;
    padding-top: 100px;
    
}

#mycontainer1 h2 {
    font-weight: 900;
    padding-top: 8px;
}
#mycontainer1 h2 span{
    color: red;
}

#mycontainer2 {
   border-radius: 20px 20px 0px 0px;
}

#mycontainer3 {
     margin-left: 100px;
}