body{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.red {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    width: 675px;
    margin-left: -16px;
}

form {
    margin-top: 60px;
    text-align: center;
}

#main{
    width: 60%;
    height: 90%;
    margin:  auto;
    vertical-align: middle;
    padding-top: 5em;
    box-sizing: border-box;
    padding-bottom: 5em;
    border-radius: 1em;
    
    }

#mycontainer1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

#mycontainer1 i{
    font-size: 10rem;
    color: black;
    padding-top: 100px;
}

#mycontainer1 h2 {
    font-weight: 900;
    padding-top: 8px;
}
#mycontainer1 h2 span{
    color: red;
}

#mycontainer2 {
     border-bottom: 2px solid rgb(196, 192, 192); 
   box-shadow: 20px 20px 120px 20px rgb(247, 245, 245);
    border-radius: 20px 20px 0px 0px;
}

#mycontainer3 {
     margin-left: 100px;
}