body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    width: 60%;
    height: 90%;
    margin:  auto;
    vertical-align: middle;
    padding-top: 5em;
    border: 1px black solid;
    box-sizing: border-box;
    padding-bottom: 5em;
    border-radius: 1em;
    }

#mycontainer1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#mycontainer1 i{
    font-size: 10rem;
    color: black;
    
}
#mycontainer1 h2 span{
    font-weight: 600;
    color: red;
}