ol .an{ 
    list-style-type: none;
}
.content .header .main{
    margin-left: 15px;
    padding-top: 10px;
    font-weight: bolder;
}
.content .header .title{
    font-size: 25px;
    padding-top: 30px;
    font-weight: 200;
    color: #131313;
    margin-left: 15px;
}
.content .header .subtitle{
    font-size: 14px;
    color: #606060;
    padding-top: 12px;
    font-weight: 300;
    margin-left: 18px;
}

img{
    margin-top: 0px;
    height: 175px;
    width: initial;
    padding-right: 50px;
    float: right;
}

.content .yt-horizontal-rule {
    margin: 70px 0px 0px;
    margin-left: 0px;
    opacity: 1;
}
.textcontainer{
    margin-top: 15px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 17px;
}
.channel{
    font-size: 14px;
    color: #606060;
    padding-top: 8px;
    font-weight: 300;
    margin-left: 15px;
}