<input type="checkbox" id="check">
 
<header>
  <div class="int-header">

          <label for="check">
              <div id="hamburger" onclick="sidebar();">☰</div>
          </label>

        <div class="aveo"><h3 >AV<span>EO</span></h3>
        
        </div>
        
        
      
     

       <input id="searchbar" onkeyup="myFunction()" type="text"
    name="search" placeholder="Search">
        <i class="fa fa-search" aria-hidden="true" style="margin-top: 38px; margin-left: 26%; position: absolute;
    color: rgb(121, 120, 120);"></i> 
    <div class="signIn">

     <a href="#" class="icon"> <i class="fas fa-user-circle fa-2x"></i></a>
    </div>
    <div class="notification">

     <a href="#" class="icon"> <i class="fas fa-bell fa-2x" ></i></a>
    </div>
    <div class="videodCreate">

      <a href="#" class="icon"><i class="fa fa-upload fa-2x"></i></a>
    </div>      

  </div>
</header>
