
  .uplo{
    background-color: blanchedalmond;
    text-align: center;
    padding-top: 20%;
    color: black;
    height:350px;
    width: auto;
    align-items: center;
}
h1{
    color: brown;
}
.btn{text-align: center;
    font-weight: 700;
    background-color: blue;
    height: 50px;
    width: 90px;
    color:white;
}