<div class="uplo">
    <h1>Upload your video 1 at a time</h1>
    <input type="file" accept="video/*" capture="user"><br>
    <h6>By submitting your videos to AVEO, you acknowledge that you agree to AVEO's <a href="#">Term of Service</a> and <a href="#"> Guidelines.</a>
    <br>
        Please be sure not to violate others' copyright or privacy rights.<a href="#"> Learn more</a></h6>
        <br><br>
        <br>
        <button class="btn" routerLink='/home' style="margin: 80px auto -30px -150px;">Back</button>
    </div>

