<div class="sideBar">
    <a class="mybtn active"><i class="fas fa-home"></i><p>Home</p></a>
    <a class="mybtn"><i class="fas fa-fire"></i><p>Trending</p></a>
    <a class="mybtn"><i class="fas fa-plus-circle"></i><p>Subscriptions</p></a>
    <hr>
    <a class="mybtn"><i class="fas fa-folder"></i><p>Library</p></a>
    <a class="mybtn"><i class="fas fa-history"></i><p>History</p></a>
    <hr>
    <div class="not">
    <div class="signIn">
        <P>Sign in to like videos, comment, and subscribe.</P>
        <button routerLink="/login"><i class="fas fa-user-circle"></i><span>SIGN IN</span></button>
    </div>
    <hr>
    <h4 style="padding:0px 0px 0px 1.5em; color: #8d8585;">BEST FROM US</h4>
    <a class="mybtn"><i class="fas fa-music"></i>Music</a>
    <a class="mybtn"><i class="fas fa-futbol-o"></i>Sports</a>
    <a class="mybtn"><i class="fas fa-gamepad"></i>Gaming</a>
    <a class="mybtn"><i class="fas fa-film"></i>Movies</a>
    <a class="mybtn"><i class="fas fa-newspaper-o"></i>News</a>
    <a class="mybtn"><i class="fas fa-play"></i>Live</a>
    <a class="mybtn"><i class="fas fa-cart-plus"></i>Fashion</a>
    <a class="mybtn"><i class="fas fa-institution"></i>learning</a>
    <hr>
    <a class="mybtn" routerLink = "/dashboard"><i class="fas fa-cogs"></i>Settings</a>
    <a class="mybtn"><i class="fas fa-flag"></i>Report History</a>
    <a class="mybtn"><i class="fas fa-question-circle"></i>Help</a>
    <a class="mybtn"><i class="fas fa-comments"></i>feedback</a>
    <hr>
    <!-- <P class="mybtn">AVEO </P> -->
    </div>
</div>